.container {
	max-width: 1000px;
	border: 1px solid black;
	margin: 0 auto;
}

.header {
	min-height: 50px;
	background-color: lightslategray;
}
.header h1 {
	margin: 25px auto;
	text-align: center;
}

.app {
	width: 100%;
	min-height: 500px;
	border: 1px solid red;
	display: flex;
	flex-direction: row;
}

.collections-container {
	width: 20%;
	border: 1px solid gray;
}

.collection {
	width: 100%;
	height: 50px;
	border: 1px solid pink;
}

.giphy-app {
	width: 80%;
	border: 1px solid gray;
}

.search-container {
	width: 100%;
	height: 25px;
	border: 1px solid purple;
}

.giphy-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.giphy-container .item {
	min-width: 185px;
	min-height: 70px;
	margin: 20px;
}
