.App {
	width: 880px;
	margin: 0 auto;
	border: 1px solid red;
}

.tasks-container {
	width: 550px;
	margin: 0 auto;
	border: 1px solid purple;
}

.todo-controls {
	width: 550px;
	margin: 10px auto;
}
