.board-container {
	margin: 0 auto;
	background-color: #eceeee;

	display: flex;
	flex-direction: row;
	/* justify-content: space-evenly; */
	padding-top: 25px;
}

.column-container {
	width: 23%;
	margin: 0 12.5px;
}

.column-name {
	height: 30px;

	margin: 0 auto;
	color: white;
	font-size: 14px;
	text-align: center;
}

.column-container:first-child {
	margin-left: 25px;
}

.column-container:last-child {
	margin-right: 25px;
}

.card {
	width: 90%;
	min-height: 45px;
	background-color: white;
	margin: 10px auto;
	/* text-align: center; */
	padding: 5px;
	border-radius: 4px;
	display: flex;
}

.card p {
	width: 80%;
}

.card span {
	align-self: center;
	text-decoration: underline;
	color: red;
	cursor: pointer;
}
